<p>{{ title }}</p>
<p>{{ message }}</p> 
<ng-template #myDialog>
    <h2 matDialogTitle>Dialog!</h2>
    <mat-dialog-content>
      <p>The content of this dialog came from an <code>ng-template</code>! Amazing, right?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" mat-button (click)="dialogRef.close()">Cancel</button>
    </mat-dialog-actions>
</ng-template> 
<ng-template #secondDialog>
    <h2 matDialogTitle>Lovely dialog!</h2>
    <mat-dialog-content>
      <p>The content of this dialog came from an <code>ng-template</code>! Mind-blowing, right? (However, this wasn't passed in to a method while the other one was)</p>
      <mat-slide-toggle>I'm a slide toggle!</mat-slide-toggle>
      <mat-checkbox>I'm a checkbox!</mat-checkbox>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose color="primary">I <mat-icon class="inline-icon">favorite</mat-icon> dialogs!</button>
    </mat-dialog-actions>
</ng-template>
  
